html 
    head   
        title Home 
    body
        h1 Olá, estou funcionando!
        a(href='/products') Listagem de Produtos
        br
        a(href='/fabricantes') Listagem de fabricantes
        br
        a(href='total') Lista de fabricantes e Produtos 